<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
         <p style="text-align:center">   Products   </p>   
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Product
              </button> 
        </div>
    </div> -->
        <div class="row">
    <div  *ngFor="let item of dataArray" >
      <div class="col" >
        <div class="card" style="width: 18rem;" >
            <img [src]="item.data['image']" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.data['title']}}</h5>
                <p class="card-text">{{item.data['description']}}</p>
                <a (click)="Detail(item.id)" class="btn btn-primary"> Details</a>{{item.id}}
            </div>
        </div>
      </div>
    </div>
    
    
    
    </div>
    </div>

    <!-- Modal -->
